<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:insert="~{layout :: headerFragment}">-->
<!--</head>-->
<!--<body>-->
<!--<div id="container">-->
<!--    <h1>-->
<!--        Hello, <span th:text="${username}">&#45;&#45;name&#45;&#45;</span>.-->
<!--    </h1>-->
<!--    <p>test</p>-->
<!--    <div id="pagefoot" th:insert="~{layout :: footerFragment}">Footer-->
<!--    </div>-->
<!--    <a href="/logout">Logout</a>-->
<!--</div>-->
<!--&lt;!&ndash; container &ndash;&gt;-->
<!--</body>-->
<p>test</p>
</html>